body {
   font-family: 'Lora', serif;
   background-image: none;
   background-color: #E9E9E8;
   color: #343a40;
}

.main-heading {
   margin-bottom: 10rem;
   color: white;
}

@media (min-width:576px) {
   .main-heading {
      margin-bottom: 1rem;
   }
}

.profile-pic {
   width: 3rem;
   height: auto;
}